<div class="search">
  <button mat-icon-button class="add-btn">
    <mat-icon (click)="refresh()">refresh</mat-icon>
  </button>
  <button *ngIf="identityService.isTreatmentDirectorOrDoctor()" mat-raised-button class="mat-primary add-btn" (click)="createDisease()">
    <mat-icon>add</mat-icon>
    {{'common.create' | translate}}
  </button>
  <mat-form-field class="search-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="{{'common.search' | translate}}" autocomplete="off" (keyup)="applyFilter()">
    <button *ngIf="searchKey" mat-button matSuffix mat-icon-button aria-label>
      <mat-icon (click)="clearSearch()">close</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-table class="table" [dataSource]="diseaseData">
  <ng-container *ngIf="isPolishLanguage()" matColumnDef="Polish name">
    <mat-header-cell *matHeaderCellDef>{{'disease.name' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.polishName}}</mat-cell>
  </ng-container>
  <ng-container *ngIf="!isPolishLanguage()" matColumnDef="Polish name">
    <mat-header-cell class="hidden-column" *matHeaderCellDef></mat-header-cell>
    <mat-cell class="hidden-column" *matCellDef="let element"></mat-cell>
  </ng-container>
  <ng-container matColumnDef="Latin name">
    <mat-header-cell *matHeaderCellDef>{{'disease.latinName' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.latinName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Catherer required">
    <mat-header-cell *matHeaderCellDef>{{'disease.catherer' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.cathererRequired">check_circle_outline</mat-icon>
      <mat-icon *ngIf="!element.cathererRequired">highlight_off</mat-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Surgery required">
    <mat-header-cell *matHeaderCellDef>{{'disease.surgery' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.surgeryRequired">check_circle_outline</mat-icon>
      <mat-icon *ngIf="!element.surgeryRequired">highlight_off</mat-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef=" ">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button *ngIf="identityService.isTreatmentDirectorOrDoctor()" (click)="openDetails(element.latinName)">
        <mat-icon>launch</mat-icon>
      </button>
      <button mat-icon-button color="warn" *ngIf="identityService.isTreatmentDirector()" (click)="deleteDisease(element.latinName)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
