<div class="">
    <mat-grid-list cols="2" rowHeight="400px">
      <mat-grid-tile>
        <div class="form-controls">
          <mat-form-field floatLabel="always" *ngIf="isPolishLanguage()">
            <input id="latinName" matInput placeholder="{{'disease.latinName' | translate}}" [disabled]="true"
                   value="{{diseaseService.disease.latinName}}">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input id="name" matInput placeholder="{{'disease.name' | translate}}" [disabled]="true"
                   value="{{diseaseService.disease.polishName}}">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input id="createdBy" matInput placeholder="{{'common.createdBy' | translate}}" [disabled]="true"
                   value="{{diseaseService.disease.createdBy}}">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input id="creationDate" matInput placeholder="{{'common.creationDate' | translate}}" [disabled]="true"
                   value="{{diseaseService.disease.creationDate | date: 'dd-MM-yyyy'}}">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input id="modifiedBy" matInput placeholder="{{'common.modifiedBy' | translate}}" [disabled]="true"
                   value="{{diseaseService.disease.modifiedBy}}">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input id="modificationDate" matInput placeholder="{{'common.modificationDate' | translate}}" [disabled]="true"
                   value="{{diseaseService.disease.modificationDate | date: 'dd-MM-yyyy'}}">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form-controls">
          <mat-checkbox id="catherer" [(ngModel)]="diseaseService.disease.cathererRequired">
            {{'disease.catherer' | translate}}
          </mat-checkbox>
          <mat-checkbox id="surgery" [(ngModel)]="diseaseService.disease.surgeryRequired">
            {{'disease.surgery' | translate}}
          </mat-checkbox>
          <div class="buttons">
            <button mat-button class="mat-raised-button mat-primary btn" (click)="modify()">
              {{'common.confirm' | translate}}
            </button>
            <button mat-button class="mat-raised-button btn" color="warn" (click)="close()">{{'common.cancel' | translate}}</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
</div>
