<mat-toolbar class="mat-primary nav">
  <span>{{'navigation.hospitalWard' | translate}}</span>
  <div class="fill-remaining-space"></div>
  <div class="left-nav">
      <span class="mat-h5 nav-link" *ngIf="!identityService.isGuest()" id="login"
            routerLink="/patients/add">{{'navigation.login' | translate}} {{ identityService.getLogin() }}</span>
    <a class="mat-raised-button nav-link" *ngIf="identityService.isTreatmentDirectorOrDoctor() || identityService.isHeadNurse()" id="diseasesLink"
       routerLink="/diseases">{{'navigation.diseases' | translate}}</a>
    <a class="mat-raised-button nav-link" *ngIf="!identityService.isGuest()"
       id="patientsLink" routerLink="/patient">{{'navigation.patients' | translate}}</a>
    <a class="mat-raised-button nav-link" *ngIf="!identityService.isGuest()" id="queuesLink" routerLink="/queues">{{'navigation.queues' | translate}}</a>
    <a class="mat-raised-button mat-primary nav-link" *ngIf="!identityService.isGuest()" id="logoutLink"
       (click)="signOut()">{{'navigation.logout' | translate}}</a>
  </div>
</mat-toolbar>
