<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="red@,yellow@,green@,blue@,cyan@"/>
    <conversionRule conversionWord="lvl_colors" converterClass="org.tuxdude.logback.extensions.LogColorizer"/>
    <property resource="application.properties"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %gray(%d{dd-MM-yyyy HH:mm:ss}) [%thread] %lvl_colors(%-5level) %logger{36} - %lvl_colors(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./../logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.file.path}-%d{dd-MM-yyyy}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>5GB</totalSizeCap>
            <maxHistory>1825</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss} %p %c{1.} [%thread] %m%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
